.layout {
  height: auto;
  min-height: 125vh;
  background-color: #262b3d;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.title {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.container1 {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-row-gap: 40px;
  place-items: center;
}
@media screen and (min-width: 600px) {
  .container1 {
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  }
}
@media screen and (max-width: 300px) {
  .container1 {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
.container1 h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  color: white;
}
.container1 * {
  font-size: 1.2rem;
}

.box {
  height: 47vh;
  width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 238, 255, 1);
  border-radius: 10px;
  width: 90%;
  overflow: auto;
  color: white;
}
.box::-webkit-scrollbar {
  width: 0.4rem;
}

@media screen and (max-width: 1495px) {
  .box {
    height: auto;
    overflow: none;
  }
}

.box::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.box::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.contentE {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  line-height: 1.5;
  text-align: justify;
}
.contentV {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  line-height: 1.5;
  text-align: justify;
}
.containerUL {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 40px;
}
.containerUL2 {
  margin-left: 40px;
}
.bar {
  height: 100%;
  width: 10px;
  background-color: black;
  border-radius: 10px;
}

.contentEx {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 1.5;
  text-align: justify;
}
.contentEx ul {
  list-style-type: none;
}

.contentC {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 15px;
  line-height: 1.5;
  text-align: justify;
}
.contentC ul {
  list-style-type: none;
}
.certificationsUiPath {
  margin-left: 30px;
}
