.layout{
    height: auto;
    background-color: #262b3d;
    padding-top: 1.5rem;   
}
.title{
    text-align: center;
    padding-top: 3rem;
    font-size: 3rem;
    color: white;
}
.title span{
    font-size: 3rem;
    color: #0ef;
}