.layout {
  background-color: #262b3d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 110vh;
}
.content {
  height: 100vh;
  width: 150vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); /* Set the box shadow */
  height: auto; /* Use auto to prevent scrollbar */
  margin-bottom: 40px;
  margin-top: 40px;

}
.content p {
  margin-left: 50px;
  margin-right: 50px;
  line-height: 1.5;
  text-align: justify;
}
.content ul {
    line-height: 1.5;
    /* text-align: center; */
    color: white;
    margin-left: 20px;
  }
.title {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
}
.imageSlider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ULcontainer{
    display: flex;
    justify-content: center; /* Pentru centrat orizontal */
    align-items: center; 
}
.LicenseULContainer
{
  margin-left: 7rem;
}

