.layout {
  height: auto;
  min-height: 94vh;
  background-color: #212534;
  position: relative;
  color: white;
}
.formStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  height: 440px;
  width: 480px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.formS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formS label {
  margin-top: 10px;
  font-size: 1.2rem;
}
.formS input {
  width: 450px;
  height: 30px;
  cursor: text;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.formS textarea {
  width: 450px;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 8px;
  font-size: 1.2rem;
}

@media screen and (max-width: 550px) {
  .formStyle {
    width: 95%;
  }
  .formS input {
    width: 90%;
  }
  .formS textarea {
    width: 90%;
  }
}

.formS button {
  height: 3rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: #fca311;
  border: none;
  border-radius: 10px;
  color: #14213d;
  width: fit-content;
  margin-top: 10px;
}

.formS button:hover {
  cursor: pointer;
  opacity: 0.75;
}
.content {
  height: 400px;
  width: 100%;
}

.title {
  text-align: center;
  padding-top: 3rem;
  font-size: 3rem;
}
.title span {
  color: #0ef;
  font-size: 3rem;
}
.info {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;
}
.info p {
  font-size: 1.2rem;
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}

@media screen and (max-height: 700px) {
  .layout {
    height: 110vh;
  }
}
