.layout {
  height: 100vh;
  color: white;
  background-color: #212534;
}
.title{
    text-align: center;
    padding-top: 3rem;
    font-size: 3rem;
}
.title span{
  color: #0ef;
  font-size: 3rem;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
}
.container2 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-right: 120px;
    margin-left: 120px;

  }
.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}
.info {
  margin-top: 55px;
}
.bar {
  font-size: 23px;
}
.technicalBars .bar {
  margin-top: 40px 0;
}
.technicalBars .bar:first-child {
  margin-top: 0;
}
.technicalBars .bar:last-child {
  margin-bottom: 0;
}
.technicalBars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  /* opacity: 0; */
}
.technicalBars .bar .progressLine {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.technicalBars .bar .progressLine span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progressLine.html span {
  width: 95%;
}
.progressLine.css span {
  width: 95%;
}
.progressLine.JavaScript span {
  width: 85%;
}
.progressLine.React span {
  width: 82%;
}
.progressLine.Cplusplus span {
  width: 70%;
}
.progressLine.CSharp span {
  width: 65%;
}
.progressLine.Java span {
  width: 72%;
}
.progressLine.MySQLOracle span {
  width: 75%;
}
.progressLine span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: white;
  font-size: 12px;
  border-radius: 12px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  /* opacity: 0; */
}
.progressLine.html span::after {
  content: "95%";
}
.progressLine.css span::after {
  content: "95%";
}
.progressLine.JavaScript span::after {
  content: "85%";
}
.progressLine.React span::after {
  content: "82%";
}
.progressLine.Cplusplus span::after {
  content: "70%";
}
.progressLine.CSharp span::after {
  content: "65%";
}
.progressLine.Java span::after {
  content: "72%";
}
.progressLine.MySQLOracle span::after {
  content: "75%";
}


.progressLine span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: black;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.radialBars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.radialBars .radialBar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radialBars .radialBar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radialBars .radialBar .progressBar {
  stroke-width: 10px;
  stroke: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path.communication {
  animation: animate-communication 1s 1s linear forwards;
}
.path.Creativity {
    animation: animate-Creativity 1s 1s linear forwards;
  }
  .path.Teamwork {
    animation: animate-Teamwork 1s 1s linear forwards;
  }
  .path.Adaptability {
    animation: animate-Adaptability 1s 1s linear forwards;
  }
  .path.ProblemSolving {
    animation: animate-ProblemSolving 1s 1s linear forwards;
  }
  .path.TimeManagement {
    animation: animate-TimeManagement 1s 1s linear forwards;
  }

  @keyframes animate-communication{
    100%{
        stroke-dashoffset: 35;
    }
  }
  @keyframes animate-Creativity{
    100%{
        stroke-dashoffset: 90;
    }
  }
  @keyframes animate-Teamwork{
    100%{
        stroke-dashoffset: 45;
    }
  }
  @keyframes animate-Adaptability{
    100%{
        stroke-dashoffset: 93;
    }
  }
  @keyframes animate-ProblemSolving{
    100%{
        stroke-dashoffset: 55;
    }
  }
  @keyframes animate-TimeManagement{
    100%{
        stroke-dashoffset: 67;
    }
  }

  .radialBar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
  }

  .radialBar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translate(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;

  }