.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  height: 100vh;
  background-color: #262b3d;
}
.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 8rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
  font-size: 3rem;
}
.content h1 {
  font-size: 1em;
  color: white;
  width: 100%;
}
.content p {
  font-size: 0.5em;
  color: white;
  width: 100%;
  text-align: justify;
}
.typewriter {
  position: relative;
}
.typewriter:after {
  content: "|";
  position: absolute;
  right: 0;
  background-color: #262b3d;
  width: 100%;
  animation: typing 6s steps(31) infinite;
}

@media screen and (max-width: 1510px) {
  .typewriter:after {
    content: none;
  }
}
@keyframes typing {
  to {
    width: 2%;
  }
}

.socialMedia {
  display: flex;
  float: left;
  width: 100%;
  margin-top: 1rem;
}

.facebook {
  font-size: 3rem;
  color: white;
}
.linkedin {
  font-size: 3rem;
  color: white;
}
.github {
  font-size: 3rem;
  color: white;
}
.socialMedia a {
  margin-right: 2rem;
  margin-top: 2rem;
}
.myImage {
  width: 50%;
  display: grid;
  place-items: center;
  position: relative;
  bottom: 9vh;
}

.myImage:before {
  content: "";
  height: 105%;
  width: 100%;
  max-width: 368px;
  max-height: 368px;
  border-radius: 50%;
  position: absolute;
  background: conic-gradient(
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  animation: spin 1.5s infinite linear;
  /* z-index: -1; */
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.myImage img {
  width: 95%;
  border-radius: 50%;
  max-width: 350px;
  max-height: 350px;
  object-fit: cover;
  z-index: 1;
}

@media screen and (max-width: 1040px), (max-height: 555px) {
  .layout {
    flex-wrap: wrap;
  }
  .content {
    width: 100%;
    margin: 1rem;
  }
  .content h1 {
    text-align: center;
  }
  .content p {
    text-align: center;
  }
  .socialMedia {
    justify-content: center;
  }
  .socialMedia a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  .myImage {
    width: 70%;
    top: 5%;
    left: 20%;
    transform: translate(-8%, -35%);
  }
}

@media screen and (max-height: 560px) {
  .myImage {
    top: 0%;
    width: 70%;
  }
  .myImage:before {
    max-width: 268px;
    max-height: 268px;
  }
  .myImage img {
    max-width: 250px;
    max-height: 250px;
  }
}
